html,
body {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}
html,
body {
    overflow-x: hidden;
    position: relative;
}
body {
    overflow-x: hidden;
}
.slick-list,
.slick-slider,
.slick-track {
    padding: 1rem 0;
}

.slick-center .project {
    transform: scale(1.1);
    opacity: 1;
    border: 0.125 solid #7F01FC;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.28);
    pointer-events: all;
    z-index: 1000;
}
@media (max-width: 990px) {
    .center .project {
        opacity: 1;
        pointer-events: all;
    }

    .slick-list,
    .slick-slider,
    .slick-track {
        padding: 0;
    }
}
.iconSize{
    font-size: 2rem;
    margin-left: 2rem;
    }
    @media (max-width: 600px) {
        .iconSize{
            font-size: 1.5rem;
            margin-left: 1rem;
            }
        }